<h2  class="page-header"   ><%= product.name  %> </h2>

<div class="book-details">
    <div > 
        <img class="book-cover" src="<%= product.coverImagePath  %>" alt="book">
        <% if(isAdmin){ %> 
            <div class="book-details-btn-grid">
                <a class="btn btn-primary" href="/products/<%= product.id  %>/edit">Edit</a>
                <%- include('../partials/deleteForm', {url: `/products/${product.id}` })  %> 
            </div>
        <% }else { %> 
            <div class="book-details-btn-grid">
                <a class="btn btn-primary" href="">Buy</a>
                <a class="btn btn-primary" href="">Cart</a>
            </div>
        <% } %> 
    </div>

    <div class="book-details-grid">
        <div class="book-details-label">cost: </div>
        <div> <%= product.cost  %> </div>
        <div class="book-details-label">Description: </div>
        <div> <%= product.description  %> </div>
    </div>
    


</div>



